/* BEGIN Thin */
@font-face {
  font-family: Roboto;
  src: url("Roboto-Thin.woff2") format("woff2"), url("Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }
/* END Thin */
/* BEGIN Thin Italic */
@font-face {
  font-family: Roboto;
  src: url("Roboto-ThinItalic.woff2") format("woff2"), url("Roboto-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }
/* END Thin Italic */
/* BEGIN Light */
@font-face {
  font-family: Roboto;
  src: url("Roboto-Light.woff2") format("woff2"), url("Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: Roboto;
  src: url("Roboto-LightItalic.woff2") format("woff2"), url("Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: Roboto;
  src: url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: Roboto;
  src: url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: Roboto;
  src: url("Roboto-Italic.woff2") format("woff2"), url("Roboto-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: Roboto;
  src: url("Roboto-Italic.woff2") format("woff2"), url("Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
/* END Italic */
/* BEGIN Medium */
@font-face {
  font-family: Roboto;
  src: url("Roboto-Medium.woff2") format("woff2"), url("Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
/* END Medium */
/* BEGIN Medium Italic */
@font-face {
  font-family: Roboto;
  src: url("Roboto-MediumItalic.woff2") format("woff2"), url("Roboto-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }
/* END Medium Italic */
/* BEGIN Bold */
@font-face {
  font-family: Roboto;
  src: url("Roboto-Bold.woff2") format("woff2"), url("Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: Roboto;
  src: url("Roboto-Bold.woff2") format("woff2"), url("Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: Roboto;
  src: url("Roboto-BoldItalic.woff2") format("woff2"), url("Roboto-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: Roboto;
  src: url("Roboto-BoldItalic.woff2") format("woff2"), url("Roboto-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }
/* END Bold Italic */
/* BEGIN Black */
@font-face {
  font-family: Roboto;
  src: url("Roboto-Black.woff2") format("woff2"), url("Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
/* END Black */
/* BEGIN Black Italic */
@font-face {
  font-family: Roboto;
  src: url("Roboto-BlackItalic.woff2") format("woff2"), url("Roboto-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }
/* END Black Italic */

body {background:#fff;font-family:'Roboto',sans-serif;color:#333;font-size:16px;min-width:1060px}
.content {width:1060px;margin:0 auto;padding:0 20px}
a {color:#0070c9;text-decoration:none}
a:hover {color:#0070c9;text-decoration:underline}
img {display:block;width:100%}
#map {width:100%;height:450px}
.anim {transition:all 0.3s linear 0s}
h1 {font-size:32px;line-height:1.5}
h2 {font-size:24px;line-height:1.5}
h3 {font-size:18px;line-height:1.5}
.privacy {font-size:12px;color:#272727;padding:0 0 20px}
.privacy.white {color:#f1f1f1}
.is_pool {font-size:12px;color:#272727;padding:10px 0}
body.workplace {padding-right:80px}

/* crumbs */
.crumbs {padding:20px 0;color:#ccc}
.crumbs a {color:#aaa;font-size:14px;text-decoration:none}
.crumbs a:hover {color:#999}
.crumbs li {float:left;padding-right:5px}

.social__left__block {position:fixed;top:50%;left:0;margin-top:-50px;z-index:9999;visibility:hidden;opacity:0;transition:visibility 0s, opacity 0.3s linear}
.social__left__block.on {visibility:visible;opacity:1}
.social__left__block .vk, .social__left__block .insta {display:block;width:50px;height:50px;padding:15px;transition:all 0.3s ease 0s}
.social__left__block .vk {background:#507299}
.social__left__block .insta {background:#e1306c}
.social__left__block a:hover {background:#30bf30}

.sales__right__block {position:fixed;top:50%;right:0;margin-top:-60px;z-index:9999;visibility:hidden;opacity:0;transition:visibility 0s, opacity 0.3s linear}
.sales__right__block.on {visibility:visible;opacity:1}
.sales__right__block a {display:block;width:80px;height:120px;background:#fff;border-radius:100px 0 0 100px;box-shadow: -1px 0px 2px 0px rgba(0,0,0,0.2);padding:35px 15px}
.sales__right__block a:hover img {animation: shake 0.1s ease-in-out 0.1s infinite alternate}

/* top */
.top__block {background:#333;height:60px;color:#ddd;z-index:9000}
.top__block .phone,.top__block  .callback,.top__block  .openhour,.top__block  .address {float:left;height:60px;margin-right:50px;font-size:15px}
.top__block .phone {margin-right:30px}
.top__block .callback a {font-size:14px;color:#91DC5A;border-bottom:1px dashed #91DC5A;transition: all 0.3s ease 0s;text-decoration:none}
.top__block .callback a:hover {color:#91DC5A;text-decoration:none;border-bottom:none}
.top__block .phone a{font-size:24px}
.top__block .phone a,.top__block  .address a {color:#f9f9f9;border-bottom:1px dashed #ddd}
.top__block .phone a:hover,.top__block  .address a:hover {color:#ddd;text-decoration:none;border-bottom:none}
.top__block .openhour {font-size:12px}
.top__block .social {float:right;height:60px;padding-top:10px}
.top__block .icon {float:left;padding-top:23px;height:16px;width:16px;margin-right:15px}
.top__block .string__one, .top__block  .string__two {float:left}
.top__block .string__one {padding:10px 0;line-height:38px}
.top__block .string__two {padding:10px 0;line-height:19px}
.top__block .social__btn {display:block;float:left;height:40px;width:40px;margin-left:5px;padding:10px;transition: all 0.3s ease 0s;border-radius:50%}
.top__block .social__btn:hover {background:#232323}
header {position:absolute;width:100%;left:0;top:80px;height:120px;padding:30px 0;z-index:9001}
header.minify {position:relative;top:0;height:80px;padding:0;background:#222}
header.fixed {position:fixed;background:#222;top:0;height:80px;padding:0}
header a {text-shadow: 0px 1px 2px rgba(50, 50, 50, 0.7);text-transform:uppercase}
header a:hover {text-decoration:none}
.logo__block, .navi__block{height:80px;line-height:80px}
.logo__block {float:left}
.navi__block {float:right;padding:30px 0}
.login__navi__block {float:right;padding:25px 0}
.login__btn {display:block;line-height:30px;height:30px;padding:0 20px;margin-left:30px;font-size:15px;font-weight:700;color:#e6e6e6;outline:1px solid #30bf30;transition: all 0.3s ease 0s}
.login__btn:hover {color:#fff;background:#30bf30}
.logo, .logo:hover, .logo:visited {color:#30bf30;font-weight:600;font-size:32px;word-spacing:0}
.logo span {font-style:italic;font-weight:400;color:#f9f9f9;font-size:24px;margin-left:-4px}
.navi__btn {float:left;line-height:20px;margin-left:25px;font-size:14px;font-weight:700}
.navi__btn a {color:#e0e0e0;transition: all 0.3s ease 0s}
.navi__btn a:hover {color:#fff}
.table {display:table;height:100%;float:none;width:100%}
.table-cell {display:table-cell;vertical-align:middle}
.sticker ul {padding:10px 0 10px 20px;border-left:2px solid #91dc5a;font-size:14px;font-weight:500}

/* slider */
.index-slider  .swiper-pagination-bullet {background:#fff!important;width:12px!important;height:12px!important}
.index-slider  {width:100%;height:700px}
.swiper__bg, .swiper__shadow, .shadow__block, .swiper__text__block, .swiper__bg {position:absolute;top:0;left:0;width:100%;height:100%}
.swiper__shadow {background:rgba(0,0,0,0.5)}
.shadow__block {background:rgba(0,0,0,0.7)}
.shadow__block.t6 {background:rgba(0,0,0,0.6)}
.shadow__block.t5 {background:rgba(0,0,0,0.5)}
.swiper__text__block {padding-top:130px;color:#fff;text-shadow: 0px 1px 3px rgba(50, 50, 50, 0.5)}
.type__left {float:left;text-align:left}
.type__right {float:right;text-align:right}
.type__center {margin:0 auto;text-align:center}
.swiper__title {display:inline-block;max-width:900px;font-size:80px;text-transform:uppercase;line-height:1.2;font-weight:600}
.swiper__about {display:inline-block;padding:40px 0;font-size:18px;max-width:800px}
.swiper__btn {padding:30px 0 0}
.more__big__btn {display:inline-block;cursor:pointer;padding:15px 40px;color:#fff;transition: all 0.3s linear 0s;text-transform:uppercase;font-weight:700;border:3px solid #30bf30;background:none}
.more__big__btn.black {color:#222}
.more__btn {border:1px solid #30bf30;cursor:pointer;border-radius:16px;color:#fff;display:inline-block;font-size:14px;height:30px;line-height:28px;padding:0 20px;transition: all 0.3s ease-in 0s;text-transform:uppercase;background:none}
.more__btn.bigger {border-radius:20px;height:38px;line-height:38px;padding:0 25px;font-size:16px}
.more__btn.mini {border-radius:14px;line-height:30px;font-size:12px}
.more__btn.black {color:#222}
.more__btn:hover,.more__big__btn:hover {background:#30bf30;color:#fff;text-decoration:none}

.gallery__container {width:100%;overflow-x:hidden} 

.sales-slider {width:800px;height:600px}

/* base */
.popup-modal {max-width:480px;width:100%;padding:30px 20px}
.popup-modal .title {font-size:32px;font-weight:700;padding:0 0 10px;color:#111}
.popup-modal .add__title {font-size:24px;font-weight:500;color:#555;padding:0 0 20px}

/* index */
.index__about__container {padding:70px 0}
.index__about__container .title {font-size:36px;text-align:center;color:#333;font-weight:700;padding:0 0 15px;text-transform:uppercase}
.index__about__container .about_title {font-size:24px;text-align:center;color:#666;padding:0 0 30px}
.index__about__container .title_h2 {font-size:28px;text-align:center;color:#333;font-weight:700;text-transform:uppercase}
.index__about__container .about {color:#555;font-size:18px;text-align:center;font-weight:300}
.index__about__block {width:200px;padding:20px 0;text-align:center} /* margin:0 auto; */
.index__about__block b {font-weight:300;color:#555}
.index__about__block .image {width:100%;padding:0 60px;height:80px}
.index__about__block .digital {font-size:44px;color:#272727;padding:20px 0 0;font-weight:700}
.index__about__block .name {font-size:16px;color:#333;text-transform:uppercase;font-weight:400}
.index__about__container .add_title {font-size:20px;text-align:center;color:#333;font-weight:600;text-transform:uppercase}
.index__about__container .add_content {font-size:18px}
.index__about__container .add_content li {list-style:disc inside;padding: 5px 0;color:#91DC5A;text-align:left}
.index__about__container .add_content li span {color:#444}
.index__about__vantage {width:100%;padding:10px 40px;border-left:1px solid #91DC5A}
.index__about__vantage b {font-weight:300;color:#555}
.index__about__vantage .name {font-size:18px;color:#333;font-weight:500}

/* popular offers */
.popular__offers {padding:70px 0;background-color:#eee;background-image:url("popular-offers.jpg");background-position:center center;background-size:cover}
.popular__offers .title {text-align:center;font-size:42px;text-transform:uppercase;line-height:1.2;font-weight:600;color:#fff;text-shadow: 0px 1px 3px rgba(50, 50, 50, 0.5)}
.popular__offer__block {float:left;width:100%;background:#fff;box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2)}
.popular__offer__block .header,.popular__offer__block .price,.popular__offer__block .info,.popular__offer__block .order  {width:100%}
.popular__offer__block .header {background:#c06821;color:#fff;text-align:center;padding:30px 0;text-shadow: 0px 1px 3px rgba(50, 50, 50, 0.5)}
.popular__offer__block .header .name {font-size:28px;font-weight:700;text-transform:uppercase}
.popular__offer__block .header .name a {color:#f1f1f1;text-decoration:underline}
.popular__offer__block .header .month {font-size:16px;color:#eee;margin-top:5px}
.popular__offer__block .price {padding:20px 0;color:#111;text-align:center;font-size:40px;background:#eee;font-weight:600}
.popular__offer__block .price .sales {display:block;width:100%;padding:5px 0 10px;font-size:14px;color:#555;font-weight:400}
.popular__offer__block .price .strike {text-decoration:line-through}
.popular__offer__block .info {color:#777;padding:20px 0}
.popular__offer__block .info li {display:block;width:100%;padding:15px 50px;border-bottom:1px solid #eee}

/* image__text */
.image__info__block .info__block {float:left;width:60%;padding:40px 20px 40px 60px}
.image__info__block .image__block {float:left;width:40%;background-size:cover}
.image__info__block .image__block.right {background-position:right center}
.image__info__block .image__block.left {background-position:left center}
.image__info__block .image__block.center {background-position:center center}
.image__info__block .info {width:600px}

/* guest */
.guest__visit {padding:60px 0 0;color:#eee;text-shadow: 0px 1px 3px rgba(50, 50, 50, 0.5)}
.guest__visit .title {font-size:32px}
.guest__visit__block .image__block {background-image:url("")}
.guest__visit__block .table-cell {padding:0 10%}
.guest__visit__block {color:#444}
.guest__visit__block h1 {font-size:40px;color:#333}
.guest__visit__block .info ul {padding:10px 15px 20px}
.guest__visit__block .info li {list-style:disc outside;padding:5px;color:#91DC5A;text-align:left}
.guest__visit__block .info li span {color:#444}


/* why come */
.why__come {padding:80px 0;background-color:#eee}
.why__come .title {font-size:28px;text-align:center;color:#333;font-weight:600;text-transform:uppercase;padding:0 0 30px}
.why__come__block {display:block;width:100%;padding:30px}
.why__come__block .image {width:100%}
.why__come__block .image img {display:block;width:100px;margin:0 auto}
.why__come__block .about {width:100%;font-size:18px;color:#555;font-weight:300;text-align:center;padding:15px 0 0}

/* close classes */
.close__classes {padding:70px 0;background-color:#e5e5e5}
.close__classes .title {font-size:32px;text-align:center;color:#333;font-weight:600;text-transform:uppercase}
.close__classes .about {font-size:16px;color:#777;text-align:center}
.class__block,.class__block  div {width:100%}
.class__block {background:#fff;box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.14)}
.class__block .name {padding:20px 10px;font-size:18px;text-transform:uppercase}
.class__block .name a {color:#222;font-weight:700;transition:all 0.3s ease-in 0s}
.class__block .name a:hover {color:#30bf30;text-decoration:none}
.class__block .time {padding:20px;background:#eee}
.class__block .time .clock {font-size:50px;height:80px;line-height:80px;font-weight:500;color:#272727} /*#1ea8da*/
.class__block .time .clock .icon  {display:block;position:absolute;top:50%;margin-top:-20px;left:10px;height:40px;width:40px}
.class__block .time .clock .commertial  {display:block;position:absolute;top:50%;margin-top:-15px;right:15px;height:30px;width:30px}
.class__block .time .day, .class__block .time .duration {height:30px;line-height:30px;font-size:16px;color:#888;font-weight:300}
.class__block .trainer {padding:20px 10px 0}
.class__block .trainer p{font-size:14px;color:#999}
.class__block .place {padding:20px 10px;color:#999}

/* for women */
.training__for__her {width:100%;height:500px}
.training__for__her .info__block, .training__for__her .image__block {float:left;width:50%;background-position:center center;background-size:cover}
.training__for__her .info__block {padding:0 10%;margin:0 auto}
.training__for__her .info__block  .title {font-size:36px;color:#222;line-height:1.3;font-weight:500;text-transform:uppercase}
.training__for__her .info__block  .about {font-size:18px;color:#444}
.training__for__her .image__block {background-image:url("")}
.training__for__her .info__block {background-image:url("")}

/* main trainer */
.main__trainer {padding:70px 0;background-color:#eee}
.main__trainer .title {font-size:32px;text-align:center;color:#333;font-weight:600;text-transform:uppercase}
.main__trainer .about {font-size:16px;color:#777;text-align:center}
.trainer__block{width:100%}
.trainer__block {background:#fff;box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.14)}
.trainer__block .name {padding:30px 10px;font-size:18px;text-transform:uppercase}
.trainer__block .name a {color:#222;font-weight:700;transition: all 0.3s ease-in 0s}
.trainer__block .name a:hover {color:#30bf30;text-decoration:none}
.trainer__block .info {padding:0 10px 20px;color:#777}
.trainer__block .trainer__social{padding:30px 0;border-top:1px solid #eee}
.trainer__social {width:80%;margin:0 auto}
.trainer__social__btn {width:16px;height:16px;margin:0 10px}
.trainer__social__btn a {opacity:0.6;transition: all 0.2s ease-in 0s}
.trainer__social__btn a:hover {opacity:1}
.trainer__pos {font-size:14px;font-weight:300;text-transform:uppercase;color:#777}
.trainer__personal {background:#f9f9f9}
.trainer__personal h3 {font-size:24px}
.trainer__personal h3 span {color:#30bf30;font-weight:400}
.or__call {font-size:18px}
.or__call__url {font-size:28px}
.or__call__url a {color:#111;border-bottom:1px dashed #111;text-decoration:none;font-weight:500}
.or__call__url a:hover {color:#333;border-bottom:none;text-decoration:none}

.vacancy__block {padding:15px 20px;margin-bottom:15px;background:#f5f5f5;border-radius:8px;cursor:pointer}
.vacancy__block .title {color:#333;text-transform:uppercase;font-size:16px;border-bottom:1px dashed #555;display:inline-block;font-weight:600}
.vacancy__block .about {display:none}
.vacancy__block.show .about {display:block}
.vacancy__block.show  .title {border-bottom:none}
.vacancy__block .text__about {color:#777}

/* contact */
.contact__block .image__block{background-image:url("")}
.contact__form__block {background-image:url("");background-position:center center;background-size:cover}
.contact__form {width:400px;margin:0 auto}
.contact__form h3 {font-size:28px;color:#fff;text-transform:uppercase;text-shadow: 0px 1px 3px rgba(50, 50, 50, 0.5)}

/* text */
.text__table__content {padding:50px 50px 0 0;width:320px}
.text__content {width:700px;padding:0 0 20px}
.text__table__content .title {text-transform:uppercase;color:#999;font-size:12px}
.text__table__content li a {color:#444;text-decoration:none}
.text__table__content li a:hover {color:#222}
.text__table__content li {padding:5px 0}
.text__about {font-family:"Open Sans",Helvetica;padding:30px 40px;font-size:17px;font-weight:400;color:#353535}
.text__about.nopad{padding:0}
.text__about li {list-style:disc outside;padding:5px 0}
.text__about ul, .text__about ol {padding:0 0 20px 20px}
.text__about p {padding:0 0 20px;line-height:1.77}
.header__about {padding:10px 40px;font-size:16px;font-weight:300;color:#666}

/* blog */
.short__blog {width:100%;padding:20px 0;border-bottom:1px solid #eee}
.short__blog .image {width:180px;float:left}
.short__blog .about {padding:0 0 5px 40px}
.short__blog .name, .short__blog .info {width:100%}
.short__blog .name {text-transform:uppercase}
.short__blog .name a {color:#222;font-weight:700;transition:all 0.3s ease-in 0s}
.short__blog .name a:hover {color:#30bf30;text-decoration:none}
.short__blog .info {padding:5px 0 25px;height:20px;line-height:20px;color:#999;font-weight:300;text-transform:lowercase;font-size:14px}
.blog__box__mini {display:block;color:#222;width:100%}
.blog__box__mini:hover {background:#eee;color:#111;text-decoration:none}
.blog__box__mini .name {padding:0 10px 10px}
.blog__box__mini h3 {font-size:16px}


/* service & classes */
.service__info__container {text-shadow: 0px 2px 3px rgba(30, 30, 30, 0.8)}
.service__info__container h1 {color:#f1f1f1;font-size:40px;font-weight:700;line-height:1.6}

.classes__info__block {position:absolute;left:0;right:0;top:0;left:0;padding:0 20px}
.classes__info__block h1 {padding:50px 0 0;font-size:40px;text-transform:uppercase}
.classes__info__block .specs {padding:70px 30px 0}
.scale__container {height:30px;padding:0 0 10px;width:100%}
.scale__container .name {font-size:14px;font-weight:600;width:120px;float:left;text-align:right;height:20px;line-height:20px;}
.scale__container .scale__block {width:200px;float:left;height:20px;padding:7px 10px 0 20px}
.scale__container .scale {height:8px;padding:0 2px;border-radius:4px}
.scale__container.strength .name {color:#ab3630}
.scale__container.strength .scale {background:#ab3630}
.scale__container.cardio .name {color:#c95f11}
.scale__container.cardio .scale {background:#c95f11}
.scale__container.agile .name {color:#73bd1b}
.scale__container.agile .scale {background:#73bd1b}
.scale__container.rest .name {color:#1ba4bd}
.scale__container.rest .scale {background:#1ba4bd}
.class__info__additional {color:#f1f1f1;font-size:14px;text-transform:uppercase;font-weight:300}
.class__info__additional .duration {height:50px;line-height:40px;padding-bottom:10px}
.class__info__additional .duration span {font-size:30px;font-weight:600}
.class__info__additional .difficult span{font-size:30px;color:#30bf30}
.scale__container .scale.w0 {width:0}
.scale__container .scale.w1 {width:10%;animation: w1 2s ease-in-out forwards}
.scale__container .scale.w2 {width:20%;animation: w2 2s ease-in-out forwards}
.scale__container .scale.w3 {width:30%;animation: w3 2s ease-in-out forwards}
.scale__container .scale.w4 {width:40%;animation: w4 2s ease-in-out forwards}
.scale__container .scale.w5 {width:50%;animation: w5 2s ease-in-out forwards}
.scale__container .scale.w6 {width:60%;animation: w6 2s ease-in-out forwards}
.scale__container .scale.w7 {width:70%;animation: w7 2s ease-in-out forwards}
.scale__container .scale.w8 {width:80%;animation: w8 2s ease-in-out forwards}
.scale__container .scale.w9 {width:90%;animation: w9 2s ease-in-out forwards}
.scale__container .scale.w10 {width:100%;animation: w10 2s ease-in-out forwards}

.widget {display:block;width:200px;opacity:.5;transition:all 0.3s linear 0s}
.widget:hover {opacity:1}

.schedule__box__block,.schedule__box__block div {width:100%}
.schedule__box__block {padding:10px 3px;background:#fff;text-align:center;border-top-style:solid;border-top-width:2px;border-bottom:2px solid #e5e5e5;border-radius:0 0 3px 3px;margin-top:5px;min-height:165px}
.schedule__box__block .name {padding:0 3px 15px;font-size:13px;text-transform:uppercase;line-height:1.5}
.schedule__box__block .name a {color:#111;font-weight:700;transition:all 0.3s ease-in 0s}
.schedule__box__block .name a:hover {color:#30bf30;text-decoration:none}
.schedule__box__block .time {height:25px;font-size:12px;color:#999;font-weight:300;font-size:12px}
.schedule__box__block .place {height:30px;font-size:12px;color:#777;font-weight:300;font-size:12px}
.schedule__box__block .trainer {padding:0 0 15px;font-size:12px;color:#555;font-weight:400}
.schedule__box__block .commerce {font-size:12px;color:#30bf30;font-weight:400}
.schedule__box__block.power {border-top-color:#ab3630}
.schedule__box__block.cardio {border-top-color:#25c2de}
.schedule__box__block.gymnastic {border-top-color:#73bd1b}
.schedule__box__block.fighting {border-top-color:#1927ab}
.schedule__box__header {padding:15px 10px;font-size:13px;text-align:center;font-weight:700;color:#111}
.schedule__box__line {padding:10px 0;background:#f5f5f5}
.schedule__box__line:nth-child(2n+1) {background:#dfeae0}
.schedule__box__line:nth-child(2n+1) .schedule__box__block {border-bottom:2px solid #cddcce}
.schedule__box__line .row7 {padding:0 3px}
.schedule__box__timer {width:80px;float:left;padding:18px 0;color:#000026;font-weight:700;font-size:16px;text-align:center}
.schedule__icon__line {padding:10px 0}
.schedule__icon {display:block;padding:10px 15px;border-radius:10px}
.schedule__icon__name {font-weight:500;color:#111;font-size:14px;padding-top:10px}
.schedule__icon .icon {height:15px;width:15px;float:left;border-radius:50%;margin-right:8px}
.schedule__icon.power .icon {background:#ab3630}
.schedule__icon.cardio .icon {background:#25c2de}
.schedule__icon.gymnastic .icon {background:#73bd1b}
.schedule__icon.fighting .icon {background:#1927ab}
.schedule__icon .name {height:15px;line-height:15px;font-size:12px;font-weight:300;text-transform:uppercase}

/* short__info blocks */
.short__info__btn {display:block;color:#222;font-weight:500;width:100%;padding-bottom:30px}
.short__info__btn .image {width:100%;overflow:hidden}
.short__info__btn .image .is_new{position:absolute;top:5px;right:5px;padding:0 15px;border-radius:15px;color:#fff;background:#20bf20;font-size:13px;text-transform:uppercase;height:25px;line-height:25px}
.short__info__btn .name {width:100%;padding:20px 10px;font-size:15px;text-transform:uppercase}
.short__info__btn .name a {color:#222;font-weight:700;transition: all 0.3s ease-in 0s}
.short__info__btn .name a:hover {color:#30bf30;text-decoration:none}
.short__info__btn .about {width:100%;padding:0 10px 10px;font-size:14px;color:#777;font-weight:300}
.short__info__btn .close {font-size:12px;font-weight:300;color:#48b61d;padding:0 10px 20px}
.short__trainer .image {border-radius:50%}

.row1, .row2, .row3, .row4  {display:flex}
.row1 {width:100%}
.row2 {width:50%}
.row3 {width:33.3%}
.row4 {width:25%}
.row5 {width:20%}
.row6 {width:16.5%}
.row7 {width:14%}
.row8 {width:12.5%}

/* price & offers */
.price__category__block .title {font-weight:700;font-size:28px;width:100%;padding:50px 0 10px}
.short__offer .link{display:block;color:#272727;text-decoration:none;padding:50px 20px;width:100%;border-radius:6px;border-width:2px;border-style:solid;font-size:16px;font-weight:700;margin-bottom:15px}
.short__offer .link:hover {color:#f1f1f1;text-decoration:none}
.short__offer .price {font-weight:400;color:#666}
.short__offer .price span {font-size:24px;font-weight:700;color:#111;letter-spacing:0.5px;margin:0 3px}
.short__offer .price .discount {position:absolute;right:0;top:5px;font-size:18px;font-weight:600;color:#d24703}
.short__offer .sales {font-size:14px;color:#555;font-weight:300}
.short__offer .strike {text-decoration:line-through}
.short__offer .per {font-size:18px;padding:10px 0;font-weight:300;color:#555}
.short__offer .link{border-color:#30bf30}
.short__offer .link:hover {background:#30bf30}
.offer__option {padding:30px 0 30px 90px;height:80px}
.offer__option .about {font-size:20px}
.offer__option .icon {position:absolute;left:0;top:50%;height:50px;width:50px;margin-top:-25px}
.offer__option__block {width:100%;padding:20px 0;text-align:center}
.offer__option__block b {font-weight:400;color:#555;font-size:14px}
.offer__option__block .image {width:50px;height:50px;margin:0 auto}
.short__offer .has__sales {padding:10px 0 0;text-align:center;color:#d24703;font-weight:500;font-size:14px}
.credit__block .name{font-weight:500;color:#111;padding:10px 0}
.credit__block .name span {color:#03b6b8;font-weight:400}
.credit__block .number {font-size:14px;font-weight:500;color:#333}
.credit__block .then {font-size:12px;font-weight:400;color:#999}
.credit__block .cost {font-size:20px;font-weight:600;color:#d24703}
.credit__block .cost span {font-size:16px;color:#999;font-weight:400}
.credit__block .row3 {border-left:1px solid #eee}
.short__offer  .is_credit{position:absolute;bottom:30px;right:0;left:0;color:#d24703;font-size:13px;text-transform:uppercase;font-weight:600;animation: blinker 2s linear infinite}


/* about */
.about__header {padding:70px 0;background-color:#555;background-image:url("");background-position:center center;background-size:cover;height:620px;color:#f1f1f1;font-size:20px;line-height:1.5;text-shadow: 0px 1px 3px rgba(50, 50, 50, 0.8)}
.about__header h1 {font-size:40px;color:#f1f1f1;font-weight:500;line-height:1.3}
.about__header h1 span.safia {font-weight:700;color:#30bf30}
.about__header h1 span.fitness {text-transform:uppercase;font-size:30px;font-weight:300;font-style:italic;color:#e9e9e9}
.about__header h1 span.better {text-transform:uppercase;font-weight:800}
.about__header__block {width:50%;margin-left:10%;height:620px}

.not_offer {font-size:12px;color:#888;padding:20px 0 40px}

/* login */
.login__block {position:absolute;top:0;bottom:0;left:0;right:0;background-image:url("");background-position:center center;background-size:cover}
#login_form{width:400px;margin:0 auto}
#login_form .title {font-size:24px;text-align:center;text-transform:uppercase;color:#fff;text-shadow: 0px 1px 3px rgba(50, 50, 50, 0.5);padding-bottom:30px;font-weight:500}

/* footer */
.welcome__instagram {background-color:#e5e5e5;padding:80px 0;background-image:url("welcome-insta-bg.png");background-position:left bottom;background-repeat:no-repeat}
.welcome__instagram .title {font-size:32px;color:#333;font-weight:600;text-transform:uppercase;padding:0 0 20px}
.welcome__instagram .title span {color:#e1306c}
.welcome__instagram .hashtag {font-size:20px;color:#555;text-transform:uppercase;font-weight:400;padding:0 0 30px}
.welcome__instagram .navi a {font-size:24px;color:#222;display:inline-block;padding:5px 0;font-weight:500;text-transform:uppercase}
.welcome__instagram .navi a:hover {text-decoration:none;color:#111}
.welcome__instagram .name {font-size:12px;color:#777;text-transform:uppercase;padding:0}
.welcome__instagram .swiper-slide {width:240px!important;height:240px!important}
.insta-slider {width:100%;overflow-x:hidden;padding-bottom:50px}
.insta-slider .swiper-pagination {bottom:20px!important}
.bottom__block {height:100px}
.add_footer {padding:50px 0;background:#ddd;font-size:14px;color:#888}
.add_footer .title {color:#555;font-weight:500}
.add_footer a {color:#777;text-decoration:underline}
.add_footer a:hover {color:#555;text-decoration:none}
.footer {background:#333;color:#ccc;height:50px;line-height:50px}
#back-to-top {position:fixed;bottom:40px;left:40px;z-index:9999;width:60px;height:60px;padding:10px;border-radius:50%;text-align:center;line-height:40px;background:#20bf20;cursor:pointer;border:0;text-decoration:none;transition:opacity 0.2s ease-out;opacity:0;color:#f5f5f5;font-size:20px}
#back-to-top.show:hover {opacity:1}
#back-to-top.show {opacity:0.4}

.get__callback {background:#eee;padding:80px 0}
.get__callback .title {font-size:32px;color:#333;font-weight:600;text-transform:uppercase;padding:0 0 10px}
.get__callback .about {font-size:18px;color:#777;font-weight:400;padding:0 0 40px}
.get__callback .col-25 {padding-right:40px}

select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {padding:0 30px;height:40px;line-height:40px;font-size:20px;width:100%;background-color: #ffffff;border:1px solid #cccccc;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;transition:border 0.3s linear 0s, box-shadow 0.2s linear 0s;color:#333;border-radius:20px;margin:0 0 20px}
textarea {padding:15px 30px;height:200px;line-height:1.4;font-size:20px;width:100%;background-color:#ffffff;border:1px solid #cccccc;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;transition:border 0.3s linear 0s, box-shadow 0.2s linear 0s;color:#333;border-radius:20px;margin:0 0 20px;font-weight:500}

.get__callback input[type="text"] {padding:0 30px;height:47px;line-height:47px;font-size:24px;width:100%;background-color:#ffffff;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;transition:border 0.3s linear 0s,box-shadow 0.2s linear 0s;color:#333;border-radius:30px;margin:0 0 20px}

/* dashboard */
.dashboard {display:block;position:fixed;top:0;bottom:0;right:0;width:80px;background:#243a40;opacity:1;z-index:9999}
.dashboard__btn {width:100%;padding:10px 0}
.dashboard__btn a{width:100%;opacity:0.7}
.dashboard__btn a:hover {opacity:1;text-decoration:none}
.dashboard__btn .icon {width:100%;padding:10px 25px 0}
.dashboard__btn .title {width:100%;padding:10px 10px 0;font-size:10px;color:#fff;text-transform:uppercase;text-align:center}

/* story & review */
.story_container {display:block;width:100%}
.story_container .shadow {position:absolute;top:0;left:0;bottom:0;right:0;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.59) 71%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.59) 71%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.59) 71%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
} 
.story_container .text {position:absolute;bottom:10px;left:0;right:0;padding:20px}
.story_container .name {font-size:24px;font-weight:600;line-height:1.6;color:#fff;padding-bottom:10px;}
.story_container .desc {font-size:16px;font-weight:400;color:#f1f1f1}

@keyframes w1 {
    from { width: 0%; }
    to { width: 10%; }
}
@keyframes w2 {
    from { width: 0%; }
    to { width: 20%; }
}
@keyframes w3 {
    from { width: 0%; }
    to { width: 30%; }
}
@keyframes w4 {
    from { width: 0%; }
    to { width: 40%; }
}
@keyframes w5 {
    from { width: 0%; }
    to { width: 50%; }
}
@keyframes w6 {
    from { width: 0%; }
    to { width: 60%; }
}
@keyframes w7 {
    from { width: 0%; }
    to { width: 70%; }
}
@keyframes w8 {
    from { width: 0%; }
    to { width: 80%; }
}
@keyframes w9 {
    from { width: 0%; }
    to { width: 90%; }
}
@keyframes w10 {
    from { width: 0%; }
    to { width: 100%; }
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
@keyframes shake {
 from {
    transform: rotate(10deg);
 }
 to {
    transform-origin:center center;
    transform: rotate(-10deg);
 }

}
.openday-btn {position:fixed;bottom:0;left:0;right:0;width:100%;height:60px;background:#20bf20;line-height:50px;z-index:9000;padding:5px 20px;color:#fff;opacity:0.9}
.openday-btn .btn a{color:#fff;display:block;text-transform:uppercase;font-weight:500;border:3px solid #fff;padding:12px 20px;font-size:16px;line-height:20px;border-radius:15px}
.openday-btn .btn a:hover {background:#fff;color:#20bf20;text-decoration:none}
.openday-btn .name {text-transform:uppercase;font-size:24px;font-weight:400}
